<ion-modal-view>

  <ion-header-bar>
    <h1 class="title">Select a Country</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="handleCloseSelector()">Submit</button>
    </div>
  </ion-header-bar>

  <ion-content>
    <ion-list>
      <ion-radio class="item-text-label"
                 ng-repeat="country in countryService.countries"
                 ng-model="selected.countryCode"
                 ng-value="country.isoCode2">{{ country.name }}</ion-radio>
    </ion-list>
  </ion-content>

</ion-modal-view>
